/* Base styles for desktop */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #F5F5F7;
}

/* Navbar */
.navbar {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F7;
    width: 100%;
    height: 60px;
    position: fixed;
    backdrop-filter: blur(10px);
    border: 2px solid transparent;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.logo-heading {
    display: none;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    color: #86868B;
    transition: transform 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.join a {
    position: absolute;
    top: 30%;
    right: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #001E3C;
    background-size: 200% 200%;
    font-size: 0.9rem;
}

.join a:hover {
    transform: scale(1.05);
}

.mobile-join {
    display: none;
}

.toggle-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.toggle-bar ul li a {
    text-decoration: none;
    color: #86868B;
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
}

.toggle-bar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #86868B;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.toggle-bar ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.toggle-bar .toggle-button,
.menu-toggle {
    display: none;
}

#mobile-menu {
    display: none;
}

#close-icon {
    display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
    .toggle-bar {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    .toggle-bar.active {
        display: block;
        flex-direction: column;
        background-color: #F5F5F7;
        width: 60%;
        font-size: 1rem;
        height: 100vh;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        position: fixed;
        border-left: 5px solid rgba(255, 255, 255, 0.3);
    }

    .toggle-bar ul {
        text-align: left;
        position: absolute;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: #86868B;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #close-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: #86868B;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .toggle-bar ul li {
        display: block;
    }

    .toggle-bar ul li a {
        font-size: 1rem;
    }
    .toggle-bar ul li a:hover {
        background-color: #0071E3;
        color: #FFFF;
        opacity: 0.9;
    }
    .join {
        display: none;
    }

    .mobile-join {
        display: block;
        position: absolute;
        top: 50%;
        color: white;
        text-decoration: none;
        padding: 4px 8px;
        font-size: 0.8rem;
    }

    .mobile-join a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        background: #0071E3;
        background-size: 100% 100%;
    }
    .logo-heading {
        display: block;
        font-size: 0.8rem;
        top: 30%;
        right: 50%;
    }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {

    .toggle-bar {
        display: none;
    }

    #mobile-menu {
        display: block;
    }

    .toggle-bar.active {
        display: block;
        flex-direction: column;
        background-color: #F5F5F7;
        width: 60%;
        font-size: 1rem;
        height: 100vh;
        text-align: center;
        justify-content: center;
        top: 0;
        left: 0;
        position: fixed;
        border-left: 5px solid #86868B;
    }

    .toggle-bar ul {
        text-align: left;
        position: absolute;
    }

    .menu-toggle,
    #close-icon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: #86868B;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .toggle-bar ul li {
        display: block;
    }

    .toggle-bar ul li a {
        font-size: 1rem;
    }

    .navbar {
        height: 70px;
        padding: 0 30px;
    }

    .toggle-bar ul li {
        font-size: 1rem;
        padding: 10px;
        margin: 10px;
    }

    .join a {
        padding: 8px 16px;
        display: none;
    }

    .toggle-bar ul li a {
        padding: 10px 15px;
    }

    .mobile-join {
        display: block;
        position: absolute;
        top: 50%;
        color: white;
        text-decoration: none;
        padding: 4px 8px;
        font-size: 0.8rem;
    }

    .mobile-join a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        background: #0071E3;
        background-size: 200% 200%;
    }

    .logo-heading {
        display: block;
        font-size: 0.8rem;
        top: 30%;
        right: 50%;
    }
}
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    height: 100vh;
    width: 100%;
}
.home-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.home-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #001E3C;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-text p {
    margin: 10px auto;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}
.home-text .btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #001E3C, #0071E3);
    background-size: 200% 200%;
    animation: shiny 3s linear infinite;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.home-text .btn:hover {
    background: linear-gradient(45deg, #0071E3, #001E3C);
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
}

.home-image img {
    background-color: white;
    max-width: 200px;
    height: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    transition: shadow 0.3s ease-in-out;
}

.home-image img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        min-height: 60vh;
    }

    .home-content {
        flex-direction: column;
        gap: 10px;
    }

    .home-text h2 {
        font-size: 2rem;
    }

    .home-text p {
        font-size: 0.9rem;
    }

    .home-text .btn {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
.workshop-card {
    background: #86868B;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .workshop-card {
        width: 30%;
        margin-bottom: 30px;
    }
}

#why-join, #why-now {
    width: 100%;
}

.why-join-section, .why-now-section {
    padding: 60px 20px;
    color: #86868B;
    text-align: center;
    background-color: #F5F5F7;
}

.why-join-container, .why-now-container {
    max-width: 1200px;
    margin: 0 auto;
}

.why-join-cards, .why-now-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #0071E3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.card i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #FAE7D1;
    cursor: pointer;
}

.card h3 {
    color: #FAE7D1;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #FFFFFF;
}

/* Responsive styles */
@media (max-width: 768px) {
    .why-join-cards, .why-now-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}

#about {
    height: 100vh;
    width: 100%;
    background-color: #F5F5F7;
}

/* About section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001E3C;
    text-align: center;
    padding: 40px 0;
}

.about-section:hover {
    background: linear-gradient(135deg, #FAE7D1, #F5F5F7);
}

.about-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    width: 100%;
    margin: 0 20px;
}

.about-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #001E3C;
}

.about-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #86868B;
}

/* FAQ section */
#faq {
    height: 120vh;
    width: 100%;
    background-color: #FFFFFF;
}

.faq-section {
    padding: 60px 20px;
    text-align: center;
    color: #86868B;
}

.faq-container {
    max-width: 1200px;
    margin: 0 auto;
}

.faq-container h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #86868B;
}

.faq-item {
    background-color: #F5F5F7;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 1rem;
    margin: 0;
    color: #001E3C;
}

.faq-question i {
    font-size: 1.1rem;
    transition: transform 0.3s ease-in-out;
    color: #001E3C;
}

.faq-answer {
    display: none;
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #000;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question i {
    transform: rotate(180deg);
}

/* Responsive styles */
@media (max-width: 768px) {
    .faq-container h2 {
        font-size: 2rem;
    }

    .faq-question h3 {
        font-size: 1rem;
    }

    .faq-question i {
        font-size: 1rem;
    }

    .faq-answer {
        font-size: 0.8rem;
    }
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #001E3C;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-content,
.footer-contact {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FAE7D1;
}

.footer-content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FAE7D1;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    margin: 10px 0;
}

.footer-content ul li a {
    color: #FAE7D1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content ul li a:hover {
    color: #dcdcdc;
}

.footer-content p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #FAE7D1;
}

.footer-content a {
    color: #FAE7D1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #dcdcdc;
}

.footer-social ul {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    padding: 0;
    list-style: none;
}

.footer-social ul li {
    margin: 0 10px;
}

.footer-social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    color: #FAE7D1;
}

.footer-social ul li a:hover {
    opacity: 0.9;
    color: #dcdcdc;
}

.newsletter-form input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
    border: 1px solid #dcdcdc;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 1rem;
}

.newsletter-form .btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #0071E3, #001E3C);
    background-size: 200% 200%;
    animation: shiny 3s linear infinite;
    color: #FAE7D1;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.newsletter-form .btn:hover {
    background: linear-gradient(45deg, #001E3C, #0071E3);
    transform: scale(1.1);
}

.footer-bottom {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border-top: 1px solid #dcdcdc;
    margin-top: 20px;
}

.footer-bottom p {
    color: #FAE7D1;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content,
    .footer-contact {
        min-width: 100%;
        text-align: center;
    }

    .footer-social ul {
        justify-content: center;
    }

    .footer-content h2,
    .footer-content h3,
    .footer-contact h3,
    .footer-content p,
    .footer-bottom p {
        font-size: 0.9rem;
    }

    .footer-social ul li a {
        font-size: 1.2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer-container {
        padding: 30px;
    }

    .footer-content h2,
    .footer-content h3,
    .footer-contact h3 {
        font-size: 1.3rem;
    }

    .footer-content ul li {
        margin: 15px 0;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .footer-content p a {
        font-size: 0.9rem;
    }

    .newsletter-form input[type="email"] {
        font-size: 1rem;
    }

    .newsletter-form .btn {
        font-size: 1rem;
    }

    .footer-bottom {
        font-size: 1rem;
    }
}