.mentors-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mentors-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.mentor-intro-card {
    margin: 50px auto 0 auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    height: auto;
}

.mentor-intro-card h2 {
    font-size: 1.5rem;
    color: #00ffcc;
    margin-bottom: 15px;
}

.mentor-intro-card p {
    font-size: 0.8rem;
    color: #fff;
    line-height: 1.4;
}

.mentor-card {
    background-color: #dbdada;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 0.5s ease-in-out;
    gap: 15px;
    margin: 15px;
}

.mentor-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0.6, 0.4);
}

.mentor-image {
    background: linear-gradient(135deg, #0c6075, #009999);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

.mentor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #00ffcc;
}

.mentor-card h3 {
    margin: 10px 0 5px;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
}

.mentor-card p {
    color: #333;
    font-size: 0.9rem;
    margin-bottom: 10px;
    line-height: 1.4;
}

.mentor-card span {
    color: #046983;
    font-weight: bold;
}

.mentor-social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mentor-social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #046983;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
    transition: background 0.3s;
}

.mentor-social a:hover {
    background: #00ffcc;
    color: #046983;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive styles */
@media (max-width: 1200px) {
    .mentors-section h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 992px) {
    .mentors-section {
        padding: 20px;
    }

    .mentors-container {
        flex-direction: column;
        align-items: center;
    }

    .mentor-card {
        width: 80%;
        margin: 15px 0;
    }

    .mentor-intro-card {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .mentors-section h2 {
        font-size: 1.5rem;
    }

    .mentor-intro-card {
        max-width: 100%;
        height: auto;
    }

    .mentor-card {
        width: 100%;
    }

    .mentor-card h3 {
        font-size: 1rem;
    }

    .mentor-card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .mentor-intro-card {
        max-width: 100%;
        height: auto;
    }

    .mentors-section h2 {
        font-size: 1.2rem;
    }

    .mentor-card {
        width: 100%;
    }

    .mentor-card h3 {
        font-size: 0.9rem;
    }

    .mentor-card p {
        font-size: 0.8rem;
    }
}
